{% extends 'base.html' %}

{% block content %}

</div>
{% if error %}
  <div class="erro alert alert-danger" role="alert">
    {{ error}}
  </div> 
{% endif %}
{% if aviso %}
  <div class="erro alert alert-success" role="alert">
    {{ aviso}}
  </div> 
{% endif %}

<div class="board">

  <h1 class="title">{% block title %}Cadastro{% endblock %}</h1>
  <form class="myForm" autocomplete="off" method="post">

    <div class="row">
      <div class="col-sm-12">
        <label class="formLabel" for="username"><b>Nome de Usuario: </b></label><br>
        <input id="username" name="username" class="mybox form-control" type="username" ><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label class="formLabel" for="email"><b>Email: </b></label>
        <input id="email" name="email" class="mybox form-control" type="email" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label class="formLabel" for="password"><b>Senha: </b></label>
        <input id="password" name="password" class="mybox form-control" type="password" >
      </div>
    </div>
    <div class="botoesLogin">
      <input onclick="location.href='/login';" id="button" class="btn btn-success" value="login">
      <input id="button" class="btn btn-primary" type="submit" value="Cadastro">
    </div>
  </form>
  


{% endblock %}