{% extends 'base.html' %}

{% block content %}
{%if posts %}
{% for post in posts %}
    <div class="board"> <a class="postLink" href={{post[3]}}>{{post[1]}}</a></div class="board"> 
{% endfor %}
{% endif %}
  
<div class="board">
  <h1 class="centralized">{% block title %}Novo Post{% endblock %}</h1>
  
    <form autocomplete="off"  class="myForm" method="post">

    <div class="row">
      <div class="col-sm">
        <label class="formLabel" for="title"><b>Titulo do Post:</b></label><br>
        </div>
      <div class="col-sm">
        <input id="title" name="title" class="mybox form-control" type="text" placeholder="Titulo" required><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label class="formLabel" for="content"><b>Conteudo:</b></label>
      </div>
      <div class="col-sm">
        <textarea  id="content" name="content" class="form-control" rows="3" placeholder="Conteudo" required></textarea>
      </div>
    </div>
    
    <a href="/logout" id="logout" class="logout btn btn-info" value="logout">logout</a>
    <input id="button" class="btn btn-primary" type="submit" value="postar">
  </form>
</div>
{% if error %}
  <div class="erro alert alert-danger" role="alert">
    {{ error}}
  </div> 
{% endif %}
{% endblock %}