{% extends 'base.html' %}

{% block content %}
<a href="/"><img id="return" src='/static/return.png'></a>
<div class="board">
  <h1 class="title">{% block title %}Recuperar Senha{% endblock %}</h1>
  <h4>Digite seu nome de usuario </h4>
  <form class="myForm" autocomplete="off" method="post">

    <div class="row">
      <div class="col-sm">
        <input id="username" name="username" class="mybox form-control" type="username" placeholder="Nome de Usuario"><br>
      </div>
    </div>
    <input id="button" class="btn btn-primary" type="submit" value="Resetar Senha">
  </form>
</div>
{% if error %}
  <div class="erro alert alert-danger" role="alert">
    {{ error}}
  </div> 
{% endif %}
{% if aviso %}
  <div class="erro alert alert-success" role="alert">
    {{ aviso}}
  </div> 
{% endif %}
{% endblock %}