{% extends 'base.html' %}

{% block content %}
<a href="/"><img id="return" src='/static/return.png'></a>
<div class="board">
  <h1 class="title">{% block title %}Recuperar Senha{% endblock %}</h1>
    {% if success %}
  <h4>Digite nova senha </h4>
  <form class="myForm" autocomplete="off" method="post">

    <div class="row">
      <div class="col-sm">
        <input id="password" name="password" class="mybox form-control" type="text" placeholder="Nova senha"><br>
      </div>
    </div>
    <input type="hidden" id="token" name="token" value={{token}}>

    <input id="button" class="btn btn-primary" type="submit" value="Resetar Senha">
  </form>

  {% elif aviso %}
  </div>
  <div class="erro alert alert-success" role="alert">
    {{ aviso}}
  </div> 
  {% else %}
    <h4>Erro</h4>
  </div>
     <div class="erro alert alert-danger" role="alert">Token não presente ou invalido</div> 
    <div>
  {% endif %}
</div>
{% endblock %}